@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* global variabls */
:root {
    --color-bg: #FFFFFF;
    --color-bg-variant: #e7eef1;
    --color-bg-variant-hover: #dbe4e9;
    --color-border: #cccccc;
    --color-text: #111111;
    --color-text-light: #56656b;

    --color-primary: #2761f0;
    --color-primary-hover: #1d4ab9;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.774);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 80%;
}



/* Global style */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    font-family: system-ui,
        "Segoe UI",
        Roboto,
        Helvetica, Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Background color of the track */
    border-radius: 10px;
    /* Rounded corners */
}

/* The draggable thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid #f1f1f1;
    /* Space around the thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-hover);
    /* Darker color when hovered */
}

/* Header style */
header {
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    /* background-color: var(--color-bg); */
    backdrop-filter: blur(2px);
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-border);
    z-index: 2;
}

header a {
    text-decoration: none;
}

header:first-child {
    padding-left: 1.5rem;
}

.forum-title {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.3rem;
    color: var(--color-primary);
    transition: var(--transition);
}

.img-01 {
    width: 40px;
}

.login-link {
    text-decoration: none;
    background-color: var(--color-primary);
    margin-right: 2.5rem;
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}

.login-link i {
    margin-left: 10px;
}

.login-link:hover {
    background-color: var(--color-primary-hover);
}

/* container style */
.container {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    margin-left: 320px;
    min-height: 75vh;
}

/* footer style */
footer {
    background-color: var(--color-bg-variant);
    color: var(--color-text);
    padding: 20px 10px;
    text-align: center;
    border-top: 3px solid var(--color-border);
}

footer div {
    margin-bottom: 10px;
}

footer span {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
}

.footer-team {
    margin-top: 15px;
}

.footer-team span {
    font-size: 14px;
    font-weight: normal;
    margin-right: 8px;
    color: var(--color-text);
}

.footer-team a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-team a:hover {
    color: var(--color-primary-hover);
    transform: scale(1.1);
}

.footer-team img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* ================= medium style  ================== */
@media screen and (max-width: 1024px) {
    .container {
        margin-left: 200px;
    }
}

/* ================= small style ================== */
@media screen and (max-width: 600px) {
    .container {
        margin-left: 0px;
        align-items: center;
    }
}