/* post style */
.posts {
    display: flex;
    flex-direction: column;
    width: 78%;
    align-items: center;
    margin-bottom: 15px;
}

.post {
    display: flex;
    flex-direction: column;
    /* border: #2761f0 solid 1px; */
    width: 70%;
    padding: 20px 20px 0 20px;
    /*border-bottom: 1px solid var(--color-border); */
    /* padding: 10px; */
    margin-top: 11px;
    border: var(--color-border) solid 1px;
    border-radius: 10px;

}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-light);
}

.post-user {
    font-size: 1rem;
    font-weight: 800;
}

.post-header span {
    background-color: var(--color-text-light);
    border-radius: 50%;
    padding: 2px;
}

.post-time {
    font-size: 0.9rem;
    font-weight: 500;
}

.post-body {
    color: var(--color-text);
    margin: 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
}

.post-title {
    font-size: 1rem;
    font-weight: 600;
}

.post-content {
    font-size: 0.9rem;
    font-weight: 500;
}

.post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.post-category {
    font-size: 0.8rem;
    padding: 5px 15px;
    border: var(--color-border) solid 1px;
    border-radius: 30px;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    max-width: 200px;
    /* border: #2761f0 solid 1px; */
    margin: 10px 0 10px;
}

.post-footer span,
.post-footer a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: var(--color-bg-variant);
    color: var(--color-text);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: var(--transition);
}

.post-footer-hover:hover {
    cursor: pointer;
    background-color: var(--color-bg-variant-hover);
}

.no-posts{
    color: var(--color-text-light);
    margin-top: 3rem;
    font-size: 0.9rem;
}

/* style of post's comments  */

.comments {
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    max-width: 40%;
}

.comment-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    gap: 20px;
    /* border: red solid 1px; */
}

.comment-add textarea {
    padding: 10px;
    border: var(--color-border) solid 1px;
    border-radius: 10px;
    resize: none;
    width: 70%;
}

.comment-add textarea:focus {
    /* border: var(--color-primary) solid 1px; */
    outline: var(--color-primary) solid 1px;
}


.comment-add button {
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}

.comment-add button:hover {
    background-color: var(--color-primary-hover);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: var(--color-border) solid 1px;
    border-radius: 10px;
    text-wrap: wrap;
}

.post-time {
    font-size: 0.9rem;
    font-weight: 500;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-light);
}

.comment-user {
    font-size: 1rem;
    font-weight: 800;
}

.comment-header span {
    background-color: var(--color-text-light);
    border-radius: 50%;
    padding: 2px;
}

.comment-time {
    font-size: 0.9rem;
    font-weight: 500;
}

.comment-body {
    margin: 8px 0 0 20px;
}

.comment-content {
    font-size: 0.9rem;
    font-weight: 500;
}

.comment-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    max-width: 120px;
    /* border: #2761f0 solid 1px; */
    margin: 10px 0 0px;
}

.comment-like,
.comment-dislike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: var(--color-bg-variant);
    padding: 5px 10px;
    border-radius: 10px;
    transition: var(--transition);
}

.comment-like:hover,
.comment-dislike:hover {
    cursor: pointer;
    background-color: var(--color-bg-variant-hover);
}