<nav>
    <ul class="nav-list">
        <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
        <li>
            <a href="/topics">
                <span class="topics-title"><i class="fa-solid fa-list"></i>Topics</span>
            </a>
            <ul class="topics-list">
                {{range .Categories}}
                <li><a href="/topics?topic_id={{.ID}}">#{{.Category}}</a></li>
                {{end}}
                <!-- <li><a href="/topics?topic=politics">#politics</a></li>
                <li><a href="/topics?topic=sports">#sports</a></li>
                <li><a href="/topics?topic=fashion">#sashion</a></li>
                <li><a href="/topics?topic=technologies">#technologies</a></li> -->
                <li><a href="/topics">More...</a></li>

            </ul>
        </li>
        <li><a href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
    </ul>
</nav>