<nav>
    <ul class="nav-list">
        <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
        <li>
            <a href="/topics">
                <span class="topics-title"><i class="fa-solid fa-list"></i>Topics</span>
            </a>
            <ul class="topics-list">
                <li><a href="/topics?topic=politics">#Politics</a></li>
                <li><a href="/topics?topic=sports">#Sports</a></li>
                <li><a href="/topics?topic=fashion">#Fashion</a></li>
                <li><a href="/topics?topic=technologies">#Technologies</a></li>
                <li><a href="/topics">More...</a></li>
            </ul>
        </li>
        <li><a href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
    </ul>
</nav>