<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header class="header">
    <div class="button-container">
        <a href="/login" class="btn login-btn">Login</a>
        <a href="/signup" class="btn signup-btn">Signup</a>
        <a href="/createpost" class="btn createpost-btn">Create Post</a>
        <a href="/logout" class="btn logout-btn">Logout</a>
    </div>
</header>
    <div class="forum-container">
        <!-- Left Column for Posts -->
        <div class="posts-section">
            <h2>Posts</h2>
            <div class="post-list">
                <!-- Example Post -->
                {{range .Posts}}
                <div class="post-item">
                    <a href="/post?id={{.Id}}" class="post-title">{{.Title}}</a>
                    <div class="post-info">
                        <span class="post-author">By {{.User_Name}} on : {{.Created_at}}</span>
                        <span class="post-stats">
                        </span>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

        <!-- Right Column for Categories -->
        <div class="categories-section">
            <h2>Categories</h2>
            <div class="category-list">
                <!-- Example Category -->
                {{range .Categories}}
                <div class="category-item">
                    <a href="/category?id={{.Id}}" class="category-link">{{.Name}} ({{.PostsCount}} Posts)</a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>
